<html>
	<head>
		<title>Home</title>
    </head>
    <body ng-app="fileUpload">
        <div class="container" ng-controller="MyCtrl as vm">
            <h2>File upload and download usin node and angular</h2>
            <p>You can download and upload multiple file</p>            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="3">
                            <form  name="vm.upload_form">
                            <div class="row">
                                <div class="col-sm-10">
                                <span class="control-fileupload">
                                    <label for="file1" class="text-left">Please choose a file on your computer.</label>
                                    <input type="file" 
                                            ngf-select 
                                            multiple
                                            ng-model="vm.files" 
                                            name="files" 
                                            accept="image/*" 
                                            ngf-max-size="20MB">
                                </span>
                                </div>
                                <div class="col-sm-2">  
                                    <!-- Multiple files
                                    <div class="button" ngf-select ng-model="vm.files" ngf-multiple="true">Select</div>
                                    Drop files: <div ngf-drop ng-model="vm.files" class="drop-box">Drop</div> -->
                                    <button type="button" ng-click="vm.submit()" class="btn btn-primary btn-block">
                                        <i class="icon-upload icon-white"></i> Upload
                                    </button>
                                </div>
                            </div>
                            </form>
                        </th>
                    </tr>
                    <tr>
                        <th>Serial No.</th>
                        <th>File Name</th>
                        <th><a ng-click="vm.downloadAll()">Download All</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="file in vm.uploadedFile">
                        <td>{{$index + 1}}</td>
                        <td>{{file.name}}</td>
                        <td><a ng-click="vm.download(file.path)">Download</a></td>
                    </tr>
                </tbody>
            </table>
            </div>		
	</body>
    <link rel="stylesheet" href="bower_components/style.less">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-file-saver.bundle.js"></script>

	<script type="text/javascript" src="main.js"></script>
</html>
